<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>
    
    <header>
      <h1>My Blog Web App</h1>
      <p>This blog app was built with Flask...</p>
    </header>
    <nav>
      {% for link in nav %}
        <a href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </nav>
    {% block content %}{% endblock %}
    <footer>
      <p>&copy;2022 | All Rights Reserved</p>
  </footer>
  </body>
</html>