<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>

    <nav>
      {% for link in nav %}
        <a href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <footer>
      <p>&copy;2022 | All Rights Reserved</p>
  </footer>
  </body>
</html>